@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'neo-latina';
    src: url('./asset/font/neo-latina.ttf');
}

.text-neo-latina{
    font-family: neo-latina;
}

.blink {
    animation: blink 200ms step-start infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 50%;
    }
  }





.linearcolor-marquee {
    /* background: -webkit-linear-gradient(150deg, #0091ff, #ff0097); */
    background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 85%);
    ;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linearcolor {
    background: -webkit-linear-gradient(150deg, #0091ff, #ff0097);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    animation: gradient 7s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.track-horizontal {
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.navbar{
    animation: navbar 500ms normal ;
    width: 300px;
}

@keyframes navbar {
    from{
        width: 0px;
    }
    to{
        width: 300px;
    }
}

@keyframes hidenavbar {
    from{
        width: 380px;
    }
    to{
        width: 0px;
        display: none;
    }
}

.hidenavbar{
    animation: hidenavbar 500ms normal ;
    width: 0px;
    height: 0px;
}




  
  

.text-animation  {
    display: inline-block;
    animation: wave-text 0.5s ease-in-out ;
}




@keyframes wave-text {
    0% {
        transform: translate3d(0px,210%,0px);
        opacity: 0;
   }
    60% {
        
        opacity: 0;
   }
    100% {
        transform: translate(0px,0%);
        opacity: 1;
   }
}

p{
    font-size: 24px;
}