/* .rainbow-text {
    font-size: 24px;


  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient( */
    /* #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #476098 66.666%, 
    #476098 83.333%, 
    #A7489B 83.333% */



    /* #ff0000 16.666%, 
    #1807cd 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #476098 66.666%, 
    #476098 83.333%, 
    #A7489B 83.333%
    
    ); */
 
  /* background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
} */


/* .rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}


@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}


@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
} */



.wrap {
  position: relative;
}
.text {
  font-size: 24px;
  line-height: .8;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
  /* background-color: pink; */
}
.wrap .text:nth-child(2),
.wrap .text:nth-child(3),
.crack {
  position: absolute;
  left: 0;
  top: 0;
}
.wrap .text:nth-child(1) {
  clip-path: polygon(100% 0, 3% 0, 100% 97%);
  transition: transform .6s;
}
.wrap .text:nth-child(2) {
  clip-path: polygon(0 3%, 0% 100%, 97% 100%);
}
.wrap .text:nth-child(3) {
  opacity: 1;
  transition: opacity .1s .6s;
}
.crack {
  background-color: hsl(0, 0%, 20%);
  width: 100%;
  height: 100%;
  clip-path: polygon(0 3%, 3% 0, 100% 97%, 97% 100%);
  transform: translate(-100%, -100%);
  transition: transform .3s;
}
.wrap:hover .crack{
  transform: translate(0, 0);
}
.wrap:hover .text:nth-child(3) {
  opacity: 0;
  transition: opacity .1s .3s;
}
.wrap:hover .text:nth-child(1) {
  transition: transform .6s .5s;
  transform: translate(10%, 10%);
}